.blog-inner {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
}

.blog-header {
  font-size: 30px;
}

.blog-info {

}

.blog-img {


  position: relative;
  margin: 15px auto;
  display: table;

  & img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 4px;

  }
}

.blog-label {
  color: white;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0.29) 100%);
  padding: 40px 15px 10px;
  margin-bottom: 0;
  font-weight: 600;
  border-radius: 4px;
}


.center {
  display: block;
  margin: 0 auto;
}